* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html {
    font-size: 10px;
}
  
body {
    background-color: #ffffff;
    font-family: Lato, Roboto, sans-serif;
    font-size: 1.6rem;
    color: #818181;
    margin:20px;
    width: 280px;
}

#main{
    border: 2px solid lightgray;
    .content{
        margin-left:5px;
        margin-bottom: 5px;
    }

    #group{
        margin-left:10px;
        padding-left: 2px;
        padding-right: 2px;
        width: 50px;
        background-color: white;
        transform: translate(0px, -12px);
        color: rgb(58, 122, 190);
    }

    #login-btn{
        margin: 10px 5px;
        padding: 2px 10px;
        border: none;
        font-size: 1.6rem;
    }

    #forecast{
        font-size: 1.3rem;
    }

    #today-msg{
        font-size: 1.3rem;
    }
}
