* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: #ffffff;
  font-family: Lato, Roboto, sans-serif;
  font-size: 1.6rem;
  color: #818181;
}

.main {
  margin: 10px;
  padding: 10px;
}

.main .section {
  margin-bottom: 20px;
}

.main p {
  padding-left: 5px;
}

.main #lessView:hover {
  cursor: pointer;
}

.main #moreView:hover {
  cursor: pointer;
}

.main .deleteItem {
  color: blue;
  cursor: pointer;
  padding-left: 10px;
}

.main .editItem {
  color: blue;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 20px;
}

.main #idName {
  margin-left: 20px;
}

.main #search-btn {
  padding-left: 20px;
  padding-right: 20px;
}
/*# sourceMappingURL=style.css.map */