* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
  }
  
  body {
    background-color: #ffffff;
    font-family: Lato, Roboto, sans-serif;
    font-size: 1.6rem;
    color: #818181;
  }

  #headline{
      color: coral;
  }

  #headline:hover{
    cursor: pointer;
  }

  #headlineClicked{
    color: coral;
    background-color: aqua;
  }