* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html {
    font-size: 10px;
}
  
body {
    background-color: #ffffff;
    font-family: Lato, Roboto, sans-serif;
    font-size: 1.6rem;
    color: #818181;
}

$fontColorHighlight: blue;

.main{
  margin: 10px;
  padding: 10px;

  .addStudent{
    margin-bottom: 20px;

    p{
        padding-left: 5px;
      }

    #lessView:hover{
        cursor:pointer;
      }

    #moreView:hover{
        cursor:pointer;
      }

    .deleteItem{
        color: $fontColorHighlight;
        cursor: pointer;
        padding-left:10px;
      }
  }
    
  .selectStudent{
    margin-bottom: 20px;
    
    #idName{
        margin-left: 20px;
      }
  }
}

